/* general */

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 2px solid white; */
    padding: 0;
    margin: 0;
}


html {
    display: flex;
    justify-content: center;
    background-color: black;
}

body {
    max-width: 1400px;
    background-color: white;
}


/* heights */

.header1 {
    height: 60px;
}

.footer {
    height: 140px;
}

.header2 {
    height: 465px
}

.content1 {
    height: 465px;
}

.content2 {
    height: 420px;
}

.cta {
    height: 350px;
}

.footer {
    height: 80px;
}


/* layout */

.header1,
.header2,
.content1,
.content2,
.cta,
footer {
    padding: 0px 200px;
}



body {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    
}
/* header1 */

.header1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0px;
}

.header1 li {
    list-style: none;
}

/* header2 */

.header2 {


    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header2cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
}

/* content1 */

.content1-title {
    text-align: center;
}

.content1 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.c-img {
    width: 166px;
    height: 166px;
}


/* content2  */
.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

/* cta */

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colors */

.header1,
.header2,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

img.c-img {
    display: inline-block;
    border: 5px solid #3882f6;
    border-radius: 10%;
}

.content2 {
    background-color: #e5e7eb;
    color: #1f2937;
}

.cta {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 20px;
}

.hero-img {
    display: inline-block;
    background-color: #e5e7eb;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 600;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb
}

.hero-text button {
    background-color: #3882f6;
    border-radius: 10%;
}

.logo-img {
    font-size: 24px;
    font-weight: 600;
}

.content2 p.first {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.content2 p.second {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}


.footer {
    font-size: 24px;
}